.seleccion {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}

/* Contenedor de enlaces útiles más ancho */
.discapacidad-card:first-of-type {
  max-width: 90%; /* ocupa casi todo el ancho de la página */
  margin: 0 auto; /* centrado horizontal */
}

.video-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.video-card {
  width: 200px;
  text-align: center;
}

.video-card img {
  width: 100%;
  border-radius: 10px;
}

.pruebas-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.prueba-btn {
  flex: 1;
  max-width: 250px;
  text-align: center;
}
img{

width: 120px;
height: 120px;

}