

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    color: #333;
}


.titulo-principal {
    text-align: center;
    color: #7b2cbf;
    margin-top: 30px;
    font-size: 2em;
}

main.seleccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}


.discapacidad-card {
    background-color: #f8f5ff;
    border: 2px solid #9d4edd;
    border-radius: 12px;
    padding: 20px;
    max-width: 900px;
    width: 100%;
    box-shadow: 0 6px 10px rgba(0,0,0,0.1);
}

.discapacidad-card h3 {
    color: #7b2cbf;
    margin-bottom: 15px;
}

.discapacidad-card p {
    margin-bottom: 15px;
    font-size: 1.1em;
    line-height: 1.5em;
}

.leer-btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #7a42f4;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.leer-btn:hover {
    background-color: #4b0082;
}

footer {
    text-align: center;
    padding: 15px 0;
    background-color: #7b2cbf;
    color: white;
    margin-top: 40px;
}
img{
width: 220px;
height: auto;
}